:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SeondaryColor: hsl(187, 85%, 43%);
    --gradiendtColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --white-color: hsl(0, 0%, 100%);
    --blackColor: hsl(0deg 0% 0%);
    --textColor: hsl(60, 0%, 43%);
    --whiteColorDream: rgba(255, 255, 255, 0.984);
    --inputColor: rgb(152, 152, 247);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(225, 225, 225);
    --greyText: rgb(190, 190, 190);
  }
  .main {
    width: 100%;

  }
  .title{
    position: relative;
    width: max-content;
    color: var(--textColor);
    margin: 1rem 0;
    z-index: 2;
}
.title::after {
    position:absolute;
    content: '';
    background: var(--SeondaryColor);
    height: 5px;
    width: 120px;
    right: 0ch;
    bottom: 5px;
    z-index: -1;
}
.secContent {
    justify-content: center;
    gap: 1.5rem;
}
.singleDestination{
    height: 100%;
    display: grid;
    row-gap: 10px;
    /* padding: 1rem; */
    border-radius: 10px;
   align-items: center;
    background: var(--cardBG);
    box-shadow:  0 2px 4px  rgba(140, 140,  141, 0,549);
    overflow: hidden;
}

.singleDestination:hover{
  background: var(--cardHover);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: .3s ease;

}
.imgageDiv {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 2s  ease;
   
}
.img:hover {
    transform: scale(1.1);

}
.cardInfor {
    padding: 1rem;
}
.destTitle {
    color: var(--blackColor);
    font-size: 1.25rem;
}
.continent {
    gap: .5rem;
}
.icon{
    color:  var(--textColor);
    font-size: 18px;

}
.name {
    color: var(--textColor);
    font-weight: 400px;
    font-size: 14px;
}
.fees {
    width: 100%;
    justify-content:space-between;

    padding: 1re;
    margin: 1rem 0;
    border-top: 1.5px solid var(--gradiendtColor);
    border-bottom: 1.5px solid var(--gradiendtColor);

}
.grade {
    color: var(--textColor);
    max-width: 100px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
small{
    text-align: center;
    background: var(--gradiendtColor);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    color: var(--white-color);
    padding: 1px 10px;
    font-size: 11px;
}
.price {
    font-size: 2rem;
    color: var(--blackColor);
}
.desc {
     font-size: 26px;
     color: var(--textColor);
     font-weight: 500;
}
.btn {
    margin-top: auto ;
    color: var(--white-color);
    font-weight: 600;
    justify-content:space-between;

}
.icon {
    align-self: center;
    font-size: 10px;
}
p {
    font-size: 25px;
}